 <!-- <div>
    <img src="/assets/images/car4nowlogocircle.png" alt="logo">
    <h1>Car4Now - Start your journey today</h1>
    <h2>Final Project - John Bryce</h2>
    <h3>Developed with Angular & .Net Framework</h3>
    <ul class="list-group">
<li  class="list-group-item list-group-item-action list-group-item-info">C#</li>
<li class="list-group-item list-group-item-action list-group-item-info">WebAPI</li>
<li class="list-group-item list-group-item-action list-group-item-info">SQL Database</li>
<li class="list-group-item list-group-item-action list-group-item-info">HTML & CSS & Javascript</li>
<li class="list-group-item list-group-item-action list-group-item-info">Angular 7</li>
<li class="list-group-item list-group-item-action list-group-item-info">Bootstrap</li>
    </ul>
    <h2>Enjoy!</h2>
</div>  -->


<header>
    <div class="overlay"></div>
     <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="assets/homevideo.mp4" type="video/mp4">
     </video> 
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="textinvideo">
          <h1 class="display-1">Car4Now</h1>
          <p class="display-3">Start your journey today</p>
        </div>
      </div>
    </div>
  </header>


  <div id="homestuff">
    <h1>Final Project - John Bryce</h1>
    <h2>Developed with Angular & .Net Framework</h2>
    <ul class="list-group">
<li  class="list-group-item list-group-item-action list-group-item-info">C#</li>
<li class="list-group-item list-group-item-action list-group-item-info">WebAPI</li>
<li class="list-group-item list-group-item-action list-group-item-info">SQL Database</li>
<li class="list-group-item list-group-item-action list-group-item-info">HTML & CSS & Javascript</li>
<li class="list-group-item list-group-item-action list-group-item-info">Angular 7</li>
<li class="list-group-item list-group-item-action list-group-item-info">Bootstrap</li>
    </ul>
    <h2>Enjoy!</h2>
</div> <app-login></app-login>

