 
 
 #homestuff {
    position: relative;
    top: 50%;
    transform: translatenY(-50%);
    float: left;
    margin-left: 10%;
    /* margin-left: 10%; */
 }

  img{
    margin: 2%;
   width: 20%;
   border-radius: 51%;
   box-shadow: 7px 7px 5px rgb(68, 68, 68);
 }  
 .list-group{
   width: 30%;
  margin: auto
 } 



 header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.textinvideo{
  color: aliceblue
}
app-login{
  float: right;
  margin-right: 10%;
}
